
<nav class="first-nav">

    <li class="main-nav-li"><fa-icon [icon]="faApple" class="nav-icon"></fa-icon></li>
    <li class="main-nav-li">Store</li>
    <li class="main-nav-li">Mac</li>
    <li class="main-nav-li">iPad</li>
    <li class="main-nav-li">iPhone</li>
    <li class="main-nav-li">Watch</li>
    <li class="main-nav-li">TV</li>
    <li class="main-nav-li">Music</li>
    <li class="main-nav-li">Support</li>
    <li class="main-nav-li"><fa-icon [icon]="faSearch" class="nav-icon"></fa-icon></li>
    <li class="main-nav-li"><fa-icon [icon]="faShoppingBag" class="nav-icon"></fa-icon></li>

</nav>

<nav class="mob-nav">

    <li class="mob-nav-li"><fa-icon [icon]="faApple" class="nav-icon"></fa-icon></li>
    <li class="mob-nav-li"><fa-icon [icon]="faSearch" class="nav-icon"></fa-icon></li>
    <li class="mob-nav-li"><fa-icon [icon]="faShoppingBag" class="nav-icon"></fa-icon></li>

</nav>