div.container-fluid {
    position: absolute;
    transition: color 2000ms, 
    bottom 1000ms;
    padding: 9px 0;
    color: #6e6e70;
    font-size: 12px;
    line-height: 1.42859;
    font-weight: 400;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
a {
    transition: color 2000ms;
}
@media screen and (max-width: 734px) {
    #discount-line {
        width: 308px;
    }
}
