div.container-fluid {
    padding: 9px 0;
    background-color: #F5F5F7;
    font-size: 12px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}