div.container-fluid {
    padding: 9px 0;
    background-color: #f5f5f7;
    color: #6e6e70;
    font-size: 12px;
    line-height: 1.42859;
    font-weight: 400;
    // letter-spacing: -.016em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

@media screen and (max-width: 734px) {
    #discount-line {
        width: 308px;
    }
}
