<div class="nav-footer">

  <ul><b>Scopri e acquista</b>
    <li *ngFor="let buyproduct of buyproducts"><a href="#">{{buyproduct.name}}</a></li>
  </ul>

  <div class="flex-column">
    <ul><b>Servizi</b>
      <li *ngFor="let aService of aServices"><a [routerLink]="aService.url">{{aService.name}}</a></li>

    </ul>

    <ul><b>Account</b>
      <li *ngFor="let account of accounts "><a href="#">{{account.name}}</a></li>
    </ul>
  </div>

  <ul><b>Apple Store</b>
    <li *ngFor="let aStore of aStores "><a href="#">{{aStore.name}}</a></li>
  </ul>

  <div class="flex-column">

    <ul><b>Business</b>
      <li *ngFor="let company of companies "><a href="#">{{company.name}}</a></li>
    </ul>

    <ul><b>Education</b>
      <li *ngFor="let education of educations "><a href="#">{{education.name}}</a></li>
    </ul>

    <ul><b>Per la salute</b>
      <li *ngFor="let gesund of gesunds "><a href="#">{{gesund.name}}</a></li>
    </ul>
  </div>

  <div class="flex-column">

    <ul><b>I valori di Apple</b>
      <li *ngFor="let applevalue of applevalues "><a href="#">{{applevalue.name}}</a></li>
    </ul>

    <ul><b>Info su Apple</b>
      <li *ngFor="let info of infos "><a href="#">{{info.name}}</a></li>
    </ul>
  </div>
</div>
