@mixin flexColumn {
  display: flex;
  flex-direction: column;
}


.nav-footer {
  background-color: #f5f5f7;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.75em;
  font-weight: 500;
  height: 510px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 15px;



  ul {
    color: #1d1d1f;
    padding: 5px 30px;
    margin-top: 7px;

    li {
      color: #515154;
      list-style: none;
      padding-bottom: 5px;
      padding-top: 10px;

      a {
        text-decoration: none;
        color: #515154;

        &:hover {
          text-decoration-line: underline;
        }

      }
    }
  }

  .container-1 {
    @include flexColumn();
  }

  .container-2 {
    @include flexColumn();
  }

  .container-3 {
    @include flexColumn();
  }


}


/*@media screen and (max-width: 766px) {

}*/
