<div class="container list-specs d-flex flex-column align-items-center">

  <div class="retina-display" *ngFor="let specific of product.specification">

    <img src="{{specific.imgUrl}}" alt="">
    <p>{{specific.title}}</p>
    <p>{{specific.description}}</p>
  </div>

  <!-- <div class="chip">
    <img src="/assets/img/Mac/main/chip-m1-icon.png" alt="">
    <p>Apple M1 chip</p>
  </div>

  <div class="memory">
    <img src="/assets/img/Mac/main/memory-unified-icon-specs.png" alt="">
    <p>Up to 16GB unified memory</p>
    <p>For increased performance<br>and power efficiency</p>
  </div>

  <div class="storage">
    <h4>2TB</h4>
    <p>Apple M1 chip</p>
  </div>

  <div class="battery">
    <img src="/assets/img/Mac/main/battery-icon.png" alt="">
    <p>Up to 18 hours battery life</p>
  </div>

  <div class="video">
    <img src="/assets/img/Mac/main/camera-icon.png" alt="">
    <p>720p FaceTime HD camera</p>
    <p>With the image signal<br>processor of M1 for drastically<br> improved performance</p>
  </div>

  <div class="weight">
   <h4>2.8 lb.</h4>
    <p>Weight</p>
  </div>

  <div class="touch-id">
    <img src="/assets/img/Mac/main/touch-id-specs.png" alt="">
    <p>Touch ID</p>
  </div> -->

</div>
