@import 'src/assets/SCSS/mixins.scss';
h4{
  @include font-family-display;
  font-weight: 600 ;
}
p{
  @include font-family-text;
}
.circles{
  .circle-color{
    width:18px;
    height: 18px;
    border-radius: 50px;
    margin: 5px
  }
  .circle-color:nth-child(1){
    background-color: #C7C8CA;
  }
  .circle-color:nth-child(2){
    background-color: #B1B2B7;
  }
  .circle-color:nth-child(3){
    background-color: #E3CCB4;
  }
}
.linea{
  border-bottom: 1px solid grey;
}


.buy-link{
  a{
    border-radius: 15px;
    width: 50px;
    height: 25px;
    line-height: 10px;
    background-color: #0577ED;
  }

  border-bottom: 1px solid #d2d2d7;
}

.mac-bck{
  background-position: center;
  width: 276px;
  height: 167px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1068px) {
  .mac-bck{
    background-position: center;
    width: 212px;
    height: 125px;
    background-repeat: no-repeat;
    background-size: 212px 125px;
  }
}
@media only screen and (max-width: 734px) {
  .mac-bck{
    background-position: center;
    width: 138px;
    height: 110px;
    background-repeat: no-repeat;
    background-size: 138px ;
  }
}
