  <div></div>
  <a href="" class="mb-4">
    <figure class="mac-bck" [ngStyle]="{'background-image': 'url(' + productup.imgUrl + ')'}"></figure>
  </a>
  <h4>{{productup.title}}</h4>
  <p><span>from ${{productup.price}}</span></p>


  <div class="color">
    <div class="d-flex justify-content-center circles mb-3">
      <div class="circle-color"></div>
      <div class="circle-color"></div>
      <div class="circle-color"></div>
    </div>

    <div class="pb-4 buy-link">
      <a href="" class="btn btn-primary">
        Buy
      </a>
    </div>


  </div>



