<div class="copyright-container">
  <div class="container-contacts">
    <p>Altri modi per acquistare: <a class="blue-text" href="#">trova l’Apple Store</a> o <a class="blue-text"
        href="#">il
        rivenditore</a> più vicino. O
      chiama il numero
      800 554 533.</p>
    <hr>
    <div class="copyright">
      <p>Copyright © 2021 Apple Inc. Tutti i diritti riservati.</p>
      <p>Italia</p>
    </div>
  </div>

  <div class="last-nav-footer">

    <p><a href="#" *ngFor="let privacylink of privacylinks"> {{privacylink.name}} |</a></p>

  </div>
</div>
